{% extends 'layout.html' %}

{% block main %}
    <!-- About section starts here -->
        <div class="container-fluid about-section">
            <h2>About me</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem facilis nulla veritatis
                quam modi hic expedita suscipit mollitia, est maxime inventore ducimus eveniet sint dicta
                consequatur, exercitationem deserunt vero earum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem facilis nulla veritatis
                quam modi hic expedita suscipit mollitia, est maxime inventore ducimus eveniet sint dicta
                consequatur, exercitationem deserunt vero earum.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem facilis nulla veritatis
                quam modi hic expedita suscipit mollitia, est maxime inventore ducimus eveniet sint dicta
                consequatur, exercitationem deserunt vero earum.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem facilis nulla veritatis
                quam modi hic expedita suscipit mollitia, est maxime inventore ducimus eveniet sint dicta
                consequatur, exercitationem deserunt vero earum.</p>
        </div>
    <!-- About section ends here -->
{% endblock %}