  <!-- landing section starts here -->

    <div class="container-fluid landingpage">
        <div class="lefttext">
            <h2>My Revision Portfolio</h2>
            <h3>Welcome to my revision portfolio</h3>
            <button class="btn btn-primary">Learn more</button>
        </div>
        <div class="rightimage">
            <img src="{% static 'images/land.jpg' %}" alt="" width="400" height="250" class="img-fluid">
        </div>
    </div>

    <!-- Landing section ends here -->

    <!-- About section starts here -->
        <div class="container-fluid about-section">
            <h2>About me</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem facilis nulla veritatis
                quam modi hic expedita suscipit mollitia, est maxime inventore ducimus eveniet sint dicta
                consequatur, exercitationem deserunt vero earum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem facilis nulla veritatis
                quam modi hic expedita suscipit mollitia, est maxime inventore ducimus eveniet sint dicta
                consequatur, exercitationem deserunt vero earum.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem facilis nulla veritatis
                quam modi hic expedita suscipit mollitia, est maxime inventore ducimus eveniet sint dicta
                consequatur, exercitationem deserunt vero earum.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem facilis nulla veritatis
                quam modi hic expedita suscipit mollitia, est maxime inventore ducimus eveniet sint dicta
                consequatur, exercitationem deserunt vero earum.</p>
        </div>
    <!-- About section ends here -->

    <!-- Portfolio statistics starts here -->
    <div class="container">
        <div class="row statistics">

            <div class="col-6 col-md-6 col-lg-6">
                <h2>My statistics</h2>
                <table class="table table-hover">
                    <thead>
                        <th>Sn</th>
                        <th>Project name</th>
                        <th>Client</th>
                        <th>Year of design</th>
                        <th>Rating</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Revision Web</td>
                            <td>Junior JSS</td>
                            <td>2023</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Revision Web</td>
                            <td>Junior JSS</td>
                            <td>2023</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Revision Web</td>
                            <td>Junior JSS</td>
                            <td>2023</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Revision Web</td>
                            <td>Junior JSS</td>
                            <td>2023</td>
                            <td>5</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!-- Portfolio statistics ends here -->

    <!-- contact us begins here -->
    <div class="container contact-us">
        <div class="row ">
            <h2>Contact us</h2>
            <div class="">
                <form action="">
                        <label for="fullname">Full name</label>
                        <input type="text" name="fullname" id="fullname" placeholder="Enter your fullname" class="form-control" required>

                        <label for="topic" class="mt-2">Subject</label>
                        <input type="text" name="topic" id="topic" placeholder="Enter your topic" class="form-control" required>


                        <label for="message" class="mt-2">message</label>
                        <textarea name="message" id="message" cols="30" rows="5" class="form-control"></textarea>

                        <input type="submit" class="btn btn-success mt-2" value="Send message">
                </form>


            </div>
        </div>
    </div>
    <!-- contact us end here -->