{% extends 'layout.html' %}

{% block main %}

    <!-- Portfolio statistics starts here -->
    <div class="container">
        <div class="row statistics">

            <div class="col-6 col-md-6 col-lg-6">
                <h2>My statistics</h2>
                <table class="table table-hover">
                    <thead>
                        <th>Sn</th>
                        <th>Project name</th>
                        <th>Client</th>
                        <th>Year of design</th>
                        <th>Rating</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Revision Web</td>
                            <td>Junior JSS</td>
                            <td>2023</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Revision Web</td>
                            <td>Junior JSS</td>
                            <td>2023</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Revision Web</td>
                            <td>Junior JSS</td>
                            <td>2023</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Revision Web</td>
                            <td>Junior JSS</td>
                            <td>2023</td>
                            <td>5</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!-- Portfolio statistics ends here -->

{% endblock %}